@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: var(--hero-image);
}

.inner-border {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: -1px;
}

@media (prefers-color-scheme: dark) {
    .inner-border {
        outline: none;
    }
}
