---
export interface Props {
    title: string
    image: string
}

let { title, image } = Astro.props
let imageURL = `url(/${image})`
---

<div class="h-72 shadow-none sm:h-96 sm:rounded-lg sm:shadow">
    <div
        class="hero flex h-full w-full flex-col justify-start bg-cover px-4 py-5 sm:rounded-lg sm:px-6"
    >
        <div
            class="flex flex-col gap-2 rounded bg-[rgba(0,0,0,0.5)] p-4 text-white drop-shadow sm:bg-transparent"
        >
            <span class="font-sans text-xl">You are invited to</span>
            <span class="font-serif text-7xl font-black uppercase sm:text-8xl">
                {title}
            </span>
        </div>
    </div>
</div>

<style define:vars={{ "hero-image": imageURL }}>
    .hero {
        background-image: var(--hero-image);
    }
</style>
